<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.poetryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/poetry_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PoetryApp">
        <activity android:name=".songci_grid.SongciDescActivity"></activity>
        <activity android:name=".songci_list.InfoBtn3Activity" />
        <activity android:name=".shijing_grid.ShijingDescActivity" />
        <activity android:name=".shijing_list.InfoBtn4Activity" />
        <activity android:name=".lunyu_grid.LunyuDescActivity" />
        <activity android:name=".lunyu_list.InfoBtn2Activity" />
        <activity android:name=".poetry_grid.PoetryDescActivity" />
        <activity android:name=".poetry_list.InfoBtn1Activity" />
        <activity android:name=".HomeMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>